<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mappers.chartMapper">
<select id="getMonthlyShip" resultType="com.keypoint.dto.ChartDTO">
	SELECT DATE_FORMAT(shipDate, '%Y-%m') AS label , SUM(shipCount) AS data
	FROM receivedOrder
	WHERE shipCount IS NOT NULL
	GROUP BY DATE_FORMAT(shipDate, '%Y-%m');
</select>
</mapper>
