<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.itwillbs.mappers.customerMapper">




	
	<select id="getCusList" resultType="com.keypoint.dto.CustomerDTO">
		SELECT *
		FROM customer
		<where>
		<if test="search != null and search != ''">
		cusCode = #{search}
		</if>
		<if test="search2 != null and search2 != ''">
		OR cusCategory like CONCAT('%', #{search2}, '%')
		</if>
		<if test="search3 != null and search3 != ''">
		OR cusBusiness = #{search3}
		</if>
		<if test="search4 != null and search4 != ''">
		OR cusType = #{search4}
		</if>
		<if test="cusStatus != null and cusStatus != ''">
		OR cusStatus = #{cusStatus}
		</if>
		
		</where>
		ORDER BY
		CASE
		WHEN cusStatus = '거래정지' THEN 0
		ELSE 1
		END DESC, cusCode DESC
		LIMIT #{startRow}, #{pageSize}
	</select>





<!-- 		<select id="getCusList" resultType="com.keypoint.dto.CustomerDTO"> -->
<!--   SELECT * -->
<!--   FROM customer -->
<!--   <where> -->
<!--     <if test="search != null and search != ''"> -->
<!--       cusCode = #{search} -->
<!--     </if> -->
<!--     <if test="search2 != null and search2 != ''"> -->
<!--       OR cusCategory like CONCAT('%', #{search2}, '%') -->
<!--     </if> -->
<!--     <if test="cusStatus != null and cusStatus != ''"> -->
<!--       OR cusStatus = #{cusStatus} -->
<!--     </if> -->
<!--     <if test="search3 != null and search3 != ''"> -->
<!--       AND cusBusiness = #{search3} -->
<!--     </if> -->
<!--     <if test="search4 != null and search4 != ''"> -->
<!--       AND cusType = #{search4} -->
<!--     </if> -->
<!--     		<if test="search3 != null and search3 != ''"> -->
<!-- 		OR cusBusiness = #{search3} -->
<!-- 		</if> -->
<!--   </where> -->
<!--   ORDER BY -->
<!--   CASE -->
<!--     WHEN cusStatus = '거래정지' THEN 0 -->
<!--     ELSE 1 -->
<!--   END DESC, cusCode DESC -->
<!--   LIMIT #{startRow}, #{pageSize} -->
<!-- </select> -->
		
		
		
		
		
		<select id="getCusCount" resultType="java.lang.Integer">
	  SELECT COUNT(*)
	  FROM customer
		<where>
		<if test="search != null and search != ''">
		cusCode = #{search}
		</if>
		<if test="search2 != null and search2 != ''">
		OR cusCategory like CONCAT('%', #{search2}, '%')
		</if>
		<if test="search3 != null and search3 != ''">
		OR cusBusiness = #{search3}
		</if>
		<if test="search4 != null and search4 != ''">
		OR cusType = #{search4}
		</if>
		<if test="cusStatus != null and cusStatus != ''">
		OR cusStatus = #{cusStatus}
		</if>
		</where>
	</select>
	
	
	
	
	
<!-- 	<select id="getCusCount" resultType="java.lang.Integer"> -->
<!-- 		SELECT COUNT(*) -->
<!-- 		FROM customer -->
<!-- 		<where> -->
<!-- 		<if test="search != null and search != ''"> -->
<!-- 			cusCode = #{search}  -->
<!-- 		</if> -->
<!-- 		<if test="search2 != null and search2 != ''"> -->
<!-- 			OR cusCategory like CONCAT ('%', #{search2}, '%') -->
<!--         </if> -->
<!--         </where>	 -->
<!-- 	</select> -->
	


	<insert id="insertCustomer">
		INSERT INTO customer (	cusName, cusCategory, cusBusiness, cusType, cusNumber,
								cusRep, cusTel, cusHome, cusZonecode, cusAddress, cusAddress_dtail,
								cusResp, cusPhone, cusEmail, cusFax, cusMemo, cusStatus)
		VALUES(	#{cusName}, #{cusCategory}, #{cusBusiness}, #{cusType}, #{cusNumber},
				#{cusRep}, #{cusTel}, #{cusHome}, #{cusZonecode}, #{cusAddress}, #{cusAddress_dtail},
				#{cusResp}, #{cusPhone}, #{cusEmail}, #{cusFax}, #{cusMemo}, #{cusStatus})
	</insert>


	<select id="getCusDetails" resultType="com.keypoint.dto.CustomerDTO">
		SELECT *
		FROM customer
		WHERE cusCode = #{cusCode}
	</select>
	

	<update id="updateCustomer">
		UPDATE customer
		SET	cusName = #{cusName}, cusCategory = #{cusCategory}, cusBusiness= #{cusBusiness}, cusType= #{cusType}, cusNumber= #{cusNumber},
			cusRep = #{cusRep}, cusTel = #{cusTel}, cusHome = #{cusHome}, cusZonecode = #{cusZonecode}, cusAddress = #{cusAddress},
			cusAddress_dtail = #{cusAddress_dtail}, cusResp = #{cusResp}, cusPhone = #{cusPhone}, cusEmail = #{cusEmail}, cusFax = #{cusFax},
			cusMemo = #{cusMemo}, cusStatus = #{cusStatus}
		WHERE cusCode = #{cusCode}
	</update>


	<select id="cusNumberCheck" resultType="com.keypoint.dto.CustomerDTO">
		SELECT *
		FROM customer
		WHERE cusNumber = #{cusNumber}
	</select>
	












</mapper>
