<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mappers.employeeMapper">


<!-- 강수빈 -->

<!-- 로그인 -->
	<select id="userCheck" parameterType="com.keypoint.dto.EmployeeDTO" resultType="com.keypoint.dto.EmployeeDTO">
    SELECT * FROM employees
    WHERE empId = #{empId} AND empPass = SHA2(#{empPass}, 256)
</select>

		
<!-- 비밀번호 값 가져오기 -->
	<select id="getInitialPass" resultType="java.lang.Integer">
		select (max(empId) + 1)
		from employees
	</select>
	
<!-- 	비밀번호 초기화 -->
    <update id="resetPassword" parameterType="java.util.Map">
        UPDATE employees
        SET empPass = SHA2(#{empId}, 256)
        WHERE empId = #{empId}
    </update>
    
 <!-- =========== -->   
	
	
<!-- 	사원목록(+검색) -->
	<select id="getEmployeeList" resultType="com.keypoint.dto.EmployeeDTO">
    SELECT empId, empPass, empSalt, empName, empPhoto, empBirth, empPhone, empTel, empEmail, empAddress, 
    empStatus, departmentName, empPosition, empHiredate, empRole as listEmpRole, empLeavedate, empRetiredate
    FROM employees
    <where>
        <choose>
            <when test="search == 'empName'">
                AND empName LIKE CONCAT('%', #{search2}, '%')
            </when>
            <when test="search == 'empId'">
                AND empId LIKE CONCAT('%', #{search2}, '%')
            </when>
            <when test="search == 'empTel'">
                AND empTel LIKE CONCAT('%', #{search2}, '%')
            </when>
            <when test="search == 'departmentName'">
                AND departmentName LIKE CONCAT('%', #{search2}, '%')
            </when >
            <when test="search3 != null and search3 != ''">
           AND empStatus like CONCAT ('%', #{search3}, '%')
            </when>
        </choose>
    </where>
    ORDER BY empId DESC
    LIMIT #{startRow}, #{pageSize}
</select>
	
<!-- 페이징관련 -->
	<select id="getEmployeeCount" resultType="java.lang.Integer">
		select count(*) 
		from employees
	   <where>
        <choose>
            <when test="search == 'empName'">
                AND empName LIKE CONCAT('%', #{search2}, '%')
            </when>
            <when test="search == 'empId'">
                AND empId LIKE CONCAT('%', #{search2}, '%')
            </when>
            <when test="search == 'empTel'">
                AND empTel LIKE CONCAT('%', #{search2}, '%')
            </when>
            <when test="search == 'departmentName'">
                AND departmentName LIKE CONCAT('%', #{search2}, '%')
            </when >
            <when test="search3 != null and search3 != ''">
           		AND empStatus like CONCAT ('%', #{search3}, '%')
            </when>
        </choose>
    </where>
	</select>

<!-- 사원등록 -->
	<insert id="insertEmployee">
		insert into employees (empPass, empName, empPhoto, empBirth, empPhone, empTel, empEmail, 
		                       empAddress, departmentName, empPosition, empHiredate, empStatus, empRole, empAddress_dtail)
		values (SHA2(#{empPass}, 256), #{empName}, #{empPhoto}, #{empBirth}, #{empPhone}, #{empTel}, #{empEmail},
			    #{empAddress}, #{departmentName}, #{empPosition}, #{empHiredate}, #{empStatus}, #{empRole}, #{empAddress_dtail})
	</insert>
	
<!-- 사원-상세정보 -->
	<select id="getEmployeeDetails" resultType="com.keypoint.dto.EmployeeDTO">
		select *
		from employees
		where empId = #{empId}
	</select>	

<!-- 사원-상세정보수정 -->
	<update id="updateEmployee">
    update employees
    set empPass = SHA2(#{empPass}, 256),
        empPhoto = #{empPhoto}, empPhone = #{empPhone}, empTel = #{empTel}, 
        empEmail = #{empEmail}, empStatus = #{empStatus}, departmentName = #{departmentName},
        empPosition = #{empPosition}, empRole = #{empRole} 
    <!-- 값들이 비어있어도 넘어가게!!!! -->
    <if test="empLeavedate != null and empLeavedate != ''">
        , empLeavedate = #{empLeavedate}
    </if>
    <if test="empRetiredate != null and empRetiredate != ''">
        , empRetiredate= #{empRetiredate}
    </if>
    <if test="empHiredate != null and empHiredate != ''">
        , empHiredate= #{empHiredate}
    </if>
    where empId = #{empId}
</update>



<!-- 사원 등록 - 중복체크(연락처, 내선번호, 이메일) -->
	<select id="empPhoneCheck" resultType="com.keypoint.dto.EmployeeDTO"> 
		select * from employees 
		where empPhone = #{empPhone} LIMIT 1 
	</select>
	<select id="empTelCheck" resultType="com.keypoint.dto.EmployeeDTO"> 
		select * from employees 
		where empTel = #{empTel} LIMIT 1 
	</select>
	<select id="empEmailCheck" resultType="com.keypoint.dto.EmployeeDTO"> 
		select * from employees 
		where empEmail = #{empEmail} LIMIT 1 
	</select>
	

	
</mapper>
