<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mappers.lineMapper">


<!-- 	<select id="getLineList" resultType="com.keypoint.dto.LineDTO"> -->
<!-- 	SELECT distinct l.*,  w.woCode  -->
<!-- 	from line l -->
<!--     join workOrder w ON l.lineCode = w.lineCode -->
<!--     ORDER BY l.lineCode DESC; -->
<!-- 	</select> -->
	
	<select id="getLineList" resultType="com.keypoint.dto.LineDTO">
	SELECT *  
	from line 
    ORDER BY lineCode DESC;
	</select>

	<insert id="lineInsert" >
		insert into line (lineCode, lineName, lineMemo, lineEmp)
		values( #{lineCode}, #{lineName}, #{lineMemo}, #{lineEmp})
	
	</insert>



</mapper>




