<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mappers.lineMapper">


<!-- 	<select id="getLineList" resultType="com.keypoint.dto.LineDTO"> -->
<!-- 	SELECT distinct l.*,  w.woCode  -->
<!-- 	from line l -->
<!--     join workOrder w ON l.lineCode = w.lineCode -->
<!--     ORDER BY l.lineCode DESC; -->
<!-- 	</select> -->
	
	<select id="getLineList" resultType="com.keypoint.dto.LineDTO">
	SELECT lineCode, lineName, lineMemo, empName
	from line 
    <if test="search != null">
			where lineCode = #{search} 
		</if>
		<if test="search2 != null">
			or empName = #{search2}
		</if>
    
    ORDER BY CAST(SUBSTRING(lineCode, 5) AS UNSIGNED)
    LIMIT #{startRow}, #{pageSize};
	</select>

	<select id="getLineCount" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM line
	</select> 

	<insert id="lineInsert" >
		insert into line (lineCode, lineName, lineMemo, empName)
		values( #{lineCode}, #{lineName}, #{lineMemo}, #{empName})
	
	</insert>

	<select id="getLineDetails" resultType="com.keypoint.dto.LineDTO">
		select lineCode, lineName, lineMemo, empName
		from line 
		where lineCode = #{lineCode}
	</select>
	
	<update id="lineUpdate">
		UPDATE line
		SET lineCode = #{lineCode},  
        	lineName = #{lineName},
        	lineMemo = #{lineMemo},
        	empName = #{empName} 	
		WHERE lineCode = #{lineCode}
	</update>

</mapper>




