<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mappers.materialMapper">

	<insert id="insertMaterial">
		insert into material(materialName,cusCode,materialPrice,materialCount,materialUnit,materialMemo)
		values(#{materialName},#{cusCode},#{materialPrice},#{materialCount},#{materialUnit},#{materialMemo})
	</insert>

<!-- 	검색어 포함 -->
	<select id="getMaterialList" resultType="com.keypoint.dto.MaterialDTO">
		select * from material
		where materialDel = 0
		<if test="search != null">
			and materialCode = #{search} 
		</if>		
		order by materialCode desc
		limit #{startRow},#{pageSize}
	</select>
	
<!-- 	검색어 포함 -->
	<select id="getMaterialCount" resultType="java.lang.Integer">
		select count(materialCode) from material
		<if test="search != null">
			where materialCode = #{search} 
		</if>
	</select>		
	
	<select id="getMaterial" resultType="com.keypoint.dto.MaterialDTO">
		select m.materialCode,m.materialName,m.cusCode,c.cusName,m.materialPrice,m.materialCount,m.materialUnit,m.materialMemo  
		from material m join customer c
		on m.cusCode = c.cusCode
		where materialCode = #{materialCode}
	</select>	

	<update id="deleteMaterial">
		UPDATE material
		SET materialDel = 1
		WHERE materialCode = #{materialCode}
	</update>

	<update id="updateMaterial">
		UPDATE material
		SET materialName=#{materialName},cusCode=#{cusCode},materialPrice=#{materialPrice},
			materialCount=#{materialCount},materialUnit=#{materialUnit},materialMemo=#{materialMemo}
		WHERE materialCode = #{materialCode}
	</update>


	<select id="getPurchaseMaterialList" resultType="com.keypoint.dto.MaterialDTO">
	   select materialCode, materialName, materialPrice
	   from material
	   where 
	   materialCode like CONCAT('%', #{materialCode}, '%') and 
	   materialName like CONCAT('%', #{materialName}, '%') and
	   materialPrice like CONCAT('%', #{materialPrice}, '%') 
	   order by materialCode desc 
	   limit #{startRow}, #{pageSize}  
	</select>
	  
	<select id="countPurchaseList" resultType="java.lang.Integer">
	   select count(*)
	   from material
	   <if test="materialCode!=null and materialName!=null and materialPrice!=null">
	   where 
	   materialCode like CONCAT('%', #{materialCode}, '%') and
	   materialName like CONCAT('%', #{materialName}, '%') and
	   materialPrice like CONCAT('%', #{materialPrice}, '%') 
	   </if>   
	</select>
	
	
	
	<select id="getPurchaseMaterialList2" resultType="com.keypoint.dto.MaterialDTO">
	   select materialCode, materialName
	   from material
	   where 
	   materialCode like CONCAT('%', #{materialCode}, '%') and 
	   materialName like CONCAT('%', #{materialName}, '%')
	   order by materialCode desc 
	   limit #{startRow}, #{pageSize}  
	</select>
	  
	<select id="countPurchaseList2" resultType="java.lang.Integer">
	   select count(*)
	   from material
	   <if test="materialCode!=null and materialName!=null">
	   where 
	   materialCode like CONCAT('%', #{materialCode}, '%') and
	   materialName like CONCAT('%', #{materialName}, '%')
	   </if>   
	</select>


















</mapper>




