<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mappers.noticeMapper">



	<select id="getMaxNum" resultType="java.lang.Integer">
		SELECT MAX(noticeNum)
		FROM notice
	</select>



	<insert id="insertNotice">
		INSERT INTO notice(noticeNum, empId, noticeCategory, noticeSubject, noticeStatus,
							noticeContent, noticeReadcount, noticeDate, noticeFile)
		VALUES (#{noticeNum}, #{empId}, #{noticeCategory}, #{noticeSubject}, #{noticeStatus},
				#{noticeContent}, #{noticeReadcount}, #{noticeDate}, #{noticeFile})
	</insert>


 
    
  

  
	<select id="getNoticeList" resultType="com.keypoint.dto.NoticeDTO">
	   SELECT n.noticeNum, n.noticeCategory, n.noticeSubject, e.empName, n.noticeReadcount, n.noticeDate
	   FROM notice n
	   LEFT JOIN employees e ON n.empId = e.empId
	   WHERE n.noticeStatus != '삭제'
	   <choose>
	       <when test="searchType == 'all'">
	           AND n.noticeSubject LIKE CONCAT('%', #{searchKeyword}, '%')
	       </when>
	       <when test="searchType == 'sales'">
	           AND n.noticeCategory = '영업' AND n.noticeSubject LIKE CONCAT('%', #{searchKeyword}, '%')
	       </when>
	       <when test="searchType == 'production'">
	           AND n.noticeCategory = '생산' AND n.noticeSubject LIKE CONCAT('%', #{searchKeyword}, '%')
	       </when>
	       <when test="searchType == 'materials'">
	           AND n.noticeCategory = '자재' AND n.noticeSubject LIKE CONCAT('%', #{searchKeyword}, '%')
	       </when>
	       <when test="searchType == 'personnel'">
	           AND n.noticeCategory = '인사' AND n.noticeSubject LIKE CONCAT('%', #{searchKeyword}, '%')
	       </when>
	   </choose>
	   ORDER BY n.noticeNum DESC
	   LIMIT #{startRow}, #{pageSize}
	</select>

  
  
  
	 
	<select id="getNoticeCount" resultType="java.lang.Integer">
	    SELECT COUNT(*)
	    FROM notice
	    <where>
	    noticeStatus != '삭제'
	    <if test="searchType != null and searchKeyword != null" >
		<choose>
		<when test="searchType == 'all'">
			AND noticeSubject LIKE CONCAT('%', #{searchKeyword}, '%')
		</when>
		<when test="searchType == 'sales'"> 
			AND noticeSubject LIKE CONCAT('%', #{searchKeyword}, '%')
		</when>
		<when test="searchType == 'production'">
			AND noticeSubject LIKE CONCAT('%', #{searchKeyword}, '%')
		</when>
		<when test="searchType == 'materials'"> 
			AND noticeSubject LIKE CONCAT('%', #{searchKeyword}, '%')
		</when>
		<when test="searchType == 'personnel'"> 
			AND noticeSubject LIKE CONCAT('%', #{searchKeyword}, '%')
		</when>
		</choose>
		</if>
		</where>
	</select>
	  
	  
	  
	  
  
  	<select id="getNoticeContent" resultType="com.keypoint.dto.NoticeDTO">
  		SELECT n.noticeNum, n.noticeCategory, n.noticeSubject, e.empName, n.noticeReadcount, n.noticeDate, n.noticeContent
  		FROM notice n LEFT JOIN employees e
  		ON n.empId = e.empId
  		WHERE noticeNum = #{noticeNum}
  	</select>
  
  
  
  	<update id="updateReadcount">
  		UPDATE notice 
  		SET noticeReadcount = noticeReadcount +1
  		WHERE noticeNum = #{noticeNum}
  	</update>
  
  

	<update id="updateNotice">
		UPDATE notice
		SET noticeSubject = #{noticeSubject}, noticeContent = #{noticeContent}, noticeCategory = #{noticeCategory}
		WHERE noticeNum = #{noticeNum}
	</update>
  
  
  
  	<delete id="deleteNotice">
		UPDATE notice
		SET noticeStatus = '삭제'
		WHERE noticeNum = #{noticeNum}
  	</delete>
  
  
  
  
	  
	<select id="getinserCount" resultType="java.lang.Integer">
		  SELECT COUNT(*)
		  FROM notice
		  WHERE noticeStatus = '등록'
	</select>
	  
	  
	  
  
  
  
  
  
  
</mapper>




