<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mappers.productionMapper">

	
	<insert id="insertProduction">
		insert into production(
			poCode, 
			woCode, 
			productCode, 
			lineCode, 
			empId, 
			poCount, 
			poDate, 
			woStatus, 
			productName,
<!-- 			woCount,  -->
			poGood, 
			poErr, 
			poCause,
			roCode, 
			cusCode, 
			empName
		)
		values(CONCAT('PO', DATE_FORMAT(NOW(), '%y%m%d%H%i%s')),
		#{woCode},
		#{productCode},
		#{lineCode},
		#{empId},
		#{poCount},
		#{poDate},	
		#{woStatus},
			#{productName},
<!-- 			#{woCount}, -->
			#{poGood},
			#{poErr},
			#{poCause},
			#{roCode},
			#{cusCode},
			#{empName}
		)
	</insert>
	

	<select id="getProductionList"
		resultType="com.keypoint.dto.ProductionDTO">
		select 
		a.poCode, 
		b.woCode, 
		a.poDate,
		a.woStatus, 
		a.lineCode,
		b.productCode, 
		c.productName, 
		a.poCount, 
		a.poGood, 
		a.poErr, 
		a.poCause,
		b.roCode, 
		b.cusCode,
		d.cusName
		from production a
		left join workOrder b on a.woCode = b.woCode
		left join product c on b.productCode = c.productCode
		left join customer d on b.cusCode = d.cusCode
		<where>
		a.woStatus != '삭제'
		 
		<if test="search1 != null and search1 != ''">
			and (a.productCode = #{search1})
		</if>    	
    	<if test="search3 != null and search3 != ''">
			and (a.poDate &gt;= #{search3}) 
    	</if>
    	<if test="search4 != null and search4 != ''">
			and (a.poDate &lt;= #{search4}) 
    	</if>
		</where>		
		order by a.poDate desc
		limit #{startRow}, #{pageSize}
		</select>
		
	
	<select id="getProductionCount" resultType="java.lang.Integer">
		select COUNT(*)
		from production a
		left join workOrder b on a.woCode = b.woCode
		<where>
		b.woStatus != '삭제'
		
		<if test="search1 != null and search1 != ''">
			and (a.productCode = #{search1})
		</if>    	
    	<if test="search3 != null and search3 != ''">
			and (a.poDate &gt;= #{search3}) 
    	</if>
    	<if test="search4 != null and search4 != ''">
			and (a.poDate &lt;= #{search4}) 
    	</if>
		</where>
		
	</select>
	
	
	<select id="getProductionDetails"
		resultType="com.keypoint.dto.ProductionDTO">
		select a.poCode, b.woCode, a.poDate, b.woStatus, b.lineCode,
		b.productCode, c.productName, a.poCount, a.poGood, a.poErr, a.poCause,
		b.roCode, b.cusCode, d.cusName
		from production a
		left join workOrder b on a.woCode = b.woCode
		left join product c on b.productCode = c.productCode
		left join customer d on b.cusCode = d.cusCode 
		where poCode = #{poCode}
	</select>
	
	
	<update id="updateProduction">
		UPDATE production
		SET poCode = #{poCode}, 
		lineCode = #{lineCode},
		poGood = #{poGood},
		poErr = #{poErr},
		roCode = #{roCode},
		poCount = #{poCount},
		cusCode = #{cusCode}
		WHERE
		poCode = #{poCode}
	</update>

	<update id="deleteProduction">
		UPDATE production
		SET woStatus = '삭제'
		WHERE poCode = #{poCode}
	</update>
	
	
	<update id="deleteSelected">
		UPDATE production
		SET woStatus = '삭제'
		WHERE poCode = #{poCode}
	</update>
	
	
	



</mapper>




