<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mappers.productMapper">

	<insert id="insertProduct">
		insert into product(productName,cusCode,productPrice,productCount,productUnit,productMemo)
		values(#{productName},#{cusCode},#{productPrice},#{productCount},#{productUnit},#{productMemo})
	</insert>

	<select id="getProductList" resultType="com.keypoint.dto.ProductDTO">
		select * from product
		where productDel = 0
		order by productCode desc
	</select>
	
	<select id="getProduct" resultType="com.keypoint.dto.ProductDTO">
		select * from product
		where productCode = #{productCode}
	</select>	

	<update id="deleteProduct">
		UPDATE product
		SET productDel = 1
		WHERE productCode = #{productCode}
	</update>


</mapper>




