<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mappers.productMapper">

	<insert id="insertProduct">
		insert into product(productName,cusCode,productPrice,productCount,productUnit,productMemo)
		values(#{productName},#{cusCode},#{productPrice},#{productCount},#{productUnit},#{productMemo})
	</insert>

<!-- 	검색어 포함 -->
	<select id="getProductList" resultType="com.keypoint.dto.ProductDTO">
		select * from product
		where productDel = 0
		<if test="search != null">
			and productCode = #{search} 
		</if>
		order by productCode desc
		limit #{startRow},#{pageSize}
	</select>
	
<!-- 	검색어 포함 -->
	<select id="getProductCount" resultType="java.lang.Integer">
		select count(productCode) from product
		<if test="search != null">
			where productCode = #{search} 
		</if>
	</select>		
	
	<select id="getProduct" resultType="com.keypoint.dto.ProductDTO">
		select p.productCode,p.productName,p.cusCode,c.cusName,p.productPrice,p.productCount,p.productUnit,p.productMemo  
		from product p left join customer c
		on p.cusCode = c.cusCode
		where productCode = #{productCode}
	</select>	
	
	<update id="deleteProduct">
		UPDATE product
		SET productDel = 1
		WHERE productCode = #{productCode}
	</update>

	<update id="updateProduct">
		UPDATE product
		SET productName=#{productName},cusCode=#{cusCode},productPrice=#{productPrice},
			productCount=#{productCount},productUnit=#{productUnit},productMemo=#{productMemo}
		WHERE productCode = #{productCode}
	</update>

</mapper>




