<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mappers.purchaseMapper">
	
	<insert id="insertPurchase">
		insert into purchaseOrder (poCode, materialCode, materialName, materialPrice, poCount, poPrice, poDate, payDate, cusName, poOwner, poStatus)
		values(#{poCode},#{materialCode},#{materialName},#{materialPrice},#{poCount},#{poPrice},#{poDate},#{payDate},#{cusName},#{poOwner},#{poStatus})
	</insert>

  	<select id="getPurchaseList" resultType="com.keypoint.dto.PurchaseDTO">
		select * from purchaseOrder
		where poStatus != '삭제됨'
		order by poCode desc
		limit #{startRow}, #{pageSize}
	</select>
  	
  	<select id="getPurchaseCount" resultType="java.lang.Integer">
		select count(*) from purchaseOrder 
	</select>
  	
  	
  	<select id="getPurchaseDetails" resultType="com.keypoint.dto.PurchaseDTO">
		select * from purchaseOrder
		where poCode = #{poCode};
	</select>
	
	<update id="updatePurchase">
		UPDATE purchaseOrder
		SET poCount = #{poCount}, poPrice = #{poPrice}, 
        	poOwner = #{poOwner},
        	cusName = #{cusName}, payDate = #{payDate} , materialCode = #{materialCode}, materialName = #{materialName}, materialPrice = #{materialPrice}
		WHERE poCode = #{poCode}
	</update>
	
	<update id="deletePurchase">
		UPDATE purchaseOrder
		SET poStatus = '삭제됨'
		WHERE poCode = #{poCode}
	</update>
  
</mapper>




