<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mappers.qualityMapper">

	<select id="getQcList" resultType="com.keypoint.dto.QualityDTO">
		select a.qcCode,
			   b.prodCode, d.shipSdate, b.woCode, b.productCode, e.productName, b.prodCount, 
       	       a.qcTest1, a.qcTest2, a.qcTest3, a.qcPass, a.qcDefect, a.qcDefectRate,
       	       a.qcStatus, a.qcEmpId, f.empName as qcEmpName, a.qcStartDate, a.qcEndDate
		from production b
		left join qualityControl a on b.prodCode = a.prodCode
		left join workOrder c on b.woCode = c.woCode
		left join receivedOrder d on d.roCode = c.roCode
		left join product e on b.productCode = e.productCode
		left join employees f on a.qcEmpId = f.empId
		order by qcCode desc
	</select>
	
	<select id="getQcDetails" resultType="com.keypoint.dto.QualityDTO">
		select b.woCode, b.prodCode, b.productCode, e.productName,
		       b.empId as prodEmpId, (select empName from employees where empId = b.empId) as prodEmpName,
			   d.shipSdate, a.qcTest1, a.qcTest2, a.qcTest3,
			   b.prodCount, a.qcPass, a.qcDefect, a.qcDefectRate,
			   a.qcCode, a.qcEmpId, (select empName from employees where empId = a.qcEmpId) as qcEmpName,
			   a.qcStartDate, a.qcEndDate, a.qcStatus
		from production b
		left join qualityControl a on b.prodCode = a.prodCode
		left join workOrder c on b.woCode = c.woCode
		left join receivedOrder d on d.roCode = c.roCode
		left join product e on b.productCode = e.productCode
		where b.prodCode = #{prodCode}
	</select>
	
	<insert id="qcStart">
		insert into qualityControl (qcCode, prodCode, qcEmpId, qcStartDate, qcStatus,
		                            qcTest1, qcTest2, qcTest3, qcPass, qcDefect)
		values (CONCAT('QC', DATE_FORMAT(NOW(), '%y%m%d%H%i%s')),
		       #{prodCode}, #{qcEmpId}, now(), #{qcStatus},
		       #{qcTest1}, #{qcTest2}, #{qcTest3}, #{qcPass}, #{qcDefect})
	</insert>
	
	<update id="updateQc">
		UPDATE qualityControl
		SET qcTest1 = #{qcTest1}, qcTest2 = #{qcTest2}, qcTest3 = #{qcTest3},
		    qcPass = #{qcPass}, qcDefect = #{qcDefect}, qcDefectRate = #{qcDefectRate},
		    qcEmpId = #{qcEmpId}, qcEndDate = #{qcEndDate}, qcStatus = #{qcStatus}
		WHERE prodCode = #{prodCode}                        
	</update>
	
	
	
</mapper>