<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mappers.receiptMapper">

	<insert id="insertReceipt">
		insert into goodsReceipt (grCode, poCode, grSdate, grCount, grDate, grEcount, grEdate, grOwner, grStatus)
		values(#{grCode},#{poCode},#{grSdate},#{grCount},#{grDate},#{grEcount},#{grEdate},#{grOwner},#{grStatus})
	</insert>

	<select id="getReceiptList" resultType="com.keypoint.dto.ReceiptDTO">
		 SELECT gr.grCode,gr.poCode,gr.grCount,gr.grEcount,gr.grDate,gr.grStatus, e.empName AS grOwner
	    FROM goodsReceipt gr
	    JOIN employees e ON gr.grOwner = e.empid
	    WHERE gr.grStatus != '삭제됨'
	    ORDER BY gr.grCode DESC
	    LIMIT #{startRow}, #{pageSize}
	</select>

	<select id="getReceiptCount" resultType="java.lang.Integer">
		select count(*) from goodsReceipt 
	</select>

	<select id="getReceiptDetails" resultType="com.keypoint.dto.ReceiptDTO">
		SELECT gr.grCode, gr.poCode, gr.grCount, e.empName AS grOwner, gr.grSdate, gr.grDate, gr.grStatus
    FROM goodsReceipt gr
    JOIN employees e ON gr.grOwner = e.empid
    WHERE gr.grCode = #{grCode}
	</select>

	<update id="updateReceipt">
    UPDATE goodsReceipt
    SET grCount = #{grCount},
        grOwner = (SELECT empid FROM employees WHERE empName = #{grOwner}),
        grDate = #{grDate}
    WHERE grCode = #{grCode}
	</update>



  
</mapper>




