<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mappers.receiveMapper">

	<insert id="insertReceive">
		insert into receivedOrder (roCode, roEmpId, cusCode, productCode, roCount,
		                          roPrice, roDate, shipSdate, shipDate, roStatus)
		values(CONCAT('RO', DATE_FORMAT(NOW(), '%y%m%d%H%i%s')),
		       #{roEmpId}, #{cusCode}, #{productCode}, #{roCount},
		       #{roCount}*(SELECT productPrice FROM product WHERE productCode = #{productCode}),
		       #{roDate}, #{shipSdate}, #{shipDate}, #{roStatus})
	</insert>
	
	<select id="getReceiveList" resultType="com.keypoint.dto.ReceiveDTO">
		select a.roCode, a.cusCode, b.cusName, a.productCode, c.productName,
	   		   a.roCount, a.roPrice, a.roDate, a.shipSdate, a.shipDate, a.roStatus,
	   		   a.roEmpId, d.EmpName as roEmpName
		from receivedOrder a
		left join customer b on a.cusCode = b.cusCode
		left join product c on a.productCode = c.productCode
		left join employees d on a.roEmpId = d.empId
		where a.roStatus != '삭제'
		order by a.roCode desc
	</select>
	
	<select id="getReceiveDetails" resultType="com.keypoint.dto.ReceiveDTO">
		select a.roCode, a.cusCode, b.cusName, a.productCode, c.productName,
	   		   a.roCount, a.roPrice, a.roDate, a.shipSdate, a.shipDate, a.roStatus,
	   		   a.roEmpId, d.EmpName as roEmpName
		from receivedOrder a
		left join customer b on a.cusCode = b.cusCode
		left join product c on a.productCode = c.productCode
		left join employees d on a.roEmpId = d.empId
		where roCode = #{roCode}
	</select>
	
	<update id="updateReceive">
		UPDATE receivedOrder
		SET cusCode = #{cusCode}, productCode = #{productCode}, 
        	roCount = #{roCount},
        	roPrice = #{roCount}*(SELECT productPrice FROM product WHERE productCode = #{productCode}),
        	shipSdate = #{shipSdate}, roStatus = #{roStatus},
        	roEmpId = #{roEmpId}
		WHERE roCode = #{roCode}
	</update>
	
	<update id="deleteReceive">
		UPDATE receivedOrder
		SET roStatus = '삭제'
		WHERE roCode = #{roCode}
	</update>
	
	
	
	<select id="getReceiveListTest" resultType="com.keypoint.dto.ReceiveDTO">
		select a.roCode, a.cusCode, b.cusName, a.productCode, c.productName, c.productCount,
	   		   a.roCount, a.roPrice, a.roDate, a.shipSdate, a.shipDate, a.roStatus,
	   		   a.roEmpId, d.EmpName as roEmpName
		from receivedOrder a
		left join customer b on a.cusCode = b.cusCode
		left join product c on a.productCode = c.productCode
		left join employees d on a.roEmpId = d.empId
		where a.roStatus != '삭제'
		order by a.roCode desc
	</select>
	
	
</mapper>