<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mappers.receiveMapper">

	<insert id="insertReceive">
		insert into receivedOrder (roCode, roEmpId, cusCode, productCode, roCount,
		                          roPrice, roDate, shipSdate, shipDate, roStatus)
		values(CONCAT('RO', DATE_FORMAT(NOW(), '%y%m%d%H%i%s')),
		       #{roEmpId}, #{cusCode}, #{productCode}, #{roCount},
		       #{roCount}*(SELECT productPrice FROM product WHERE productCode = #{productCode}),
		       #{roDate}, #{shipSdate}, #{shipDate}, #{roStatus})
	</insert>
	
	<select id="getReceiveList" resultType="com.keypoint.dto.ReceiveDTO">
		select a.roCode, a.cusCode, b.cusName, a.productCode, c.productName, c.productCount,
	   		   a.roCount, a.roPrice, a.roDate, a.shipSdate, a.shipDate, a.roStatus,
	   		   a.shipCount, a.shipPrice,
	   		   a.roEmpId, d.EmpName as roEmpName
		from receivedOrder a
		left join customer b on a.cusCode = b.cusCode
		left join product c on a.productCode = c.productCode
		left join employees d on a.roEmpId = d.empId
		where a.roStatus != '삭제' and a.shipDate is null
		<if test="search != null">
		and a.roCode like CONCAT('%',#{search},'%') 
		</if>
		order by a.roCode desc
		limit #{startRow}, #{pageSize}
	</select>
	
	<select id="getShipmentList" resultType="com.keypoint.dto.ReceiveDTO">
		select a.roCode, a.cusCode, b.cusName, a.productCode, c.productName, c.productCount,
	   		   a.roCount, a.roPrice, a.roDate, a.shipSdate, a.shipDate, a.roStatus,
	   		   a.shipCount, a.shipPrice,
	   		   a.roEmpId, d.EmpName as roEmpName
		from receivedOrder a
		left join customer b on a.cusCode = b.cusCode
		left join product c on a.productCode = c.productCode
		left join employees d on a.roEmpId = d.empId
		where a.roStatus != '삭제' and a.shipDate is not null
		order by a.roCode desc
		limit #{startRow}, #{pageSize}
	</select>
	
	<select id="getReceiveCount" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM receivedOrder
		WHERE roStatus != '삭제' AND shipDate IS NULL
	</select>
	
	<select id="getShipmentCount" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM receivedOrder
		WHERE roStatus != '삭제' AND shipDate IS NOT NULL
	</select>
	
	<select id="getReceiveDetails" resultType="com.keypoint.dto.ReceiveDTO">
		select a.roCode, a.cusCode, b.cusName, a.productCode, c.productName,
	   		   a.roCount, a.roPrice, a.roDate, a.shipSdate, a.shipDate, a.roStatus,
	   		   a.shipCount, a.shipPrice, a.shipMemo,
	   		   a.roEmpId, d.EmpName as roEmpName
		from receivedOrder a
		left join customer b on a.cusCode = b.cusCode
		left join product c on a.productCode = c.productCode
		left join employees d on a.roEmpId = d.empId
		where roCode = #{roCode}
	</select>
	
	<update id="updateReceive">
		UPDATE receivedOrder
		SET cusCode = #{cusCode}, productCode = #{productCode}, 
        	roCount = #{roCount},
        	roPrice = #{roCount}*(SELECT productPrice FROM product WHERE productCode = #{productCode}),
        	shipSdate = #{shipSdate}, roStatus = #{roStatus},
        	roEmpId = #{roEmpId}
		WHERE roCode = #{roCode}
	</update>
	
	<update id="deleteReceive">
		UPDATE receivedOrder
		SET roStatus = '삭제'
		WHERE roCode = #{roCode}
	</update>
	
	<update id="shipCompleteUpdate">
		UPDATE receivedOrder
		SET shipDate = now(), shipCount = #{shipCount}, shipMemo = #{shipMemo}, 
		    shipPrice = #{shipCount}*(SELECT productPrice 
		                              FROM product
		                              WHERE productCode = #{productCode}) 
		WHERE roCode = #{roCode}
	</update>
	
	<update id="shipCompleteStock">
		UPDATE product
		SET productCount = productCount - #{shipCount}
		WHERE productCode = #{productCode}
	</update>
	
	<update id="receiveDeleteChecked">
		UPDATE receivedOrder
		SET roStatus = '삭제'
		WHERE roCode IN (
       <foreach item="roCode" collection="roCodes" open="" separator="," close="">
           #{roCode}
       </foreach>
		)
	</update>


	
</mapper>

