<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mappers.requireMapper">

	<insert id="insertRequire">
		insert into requirement(productCode,materialCode,reqCount,reqDate)
		values(#{productCode},#{materialCode},#{reqCount},DATE(NOW()))
	</insert>

<!-- 	검색어 포함 -->
	<select id="getRequireList" resultType="com.keypoint.dto.RequireDTO">
		select r.productCode,p.productName,r.materialCode,m.materialName, r.reqCount, m.materialUnit, r.reqDate, r.reqUpdate
		from requirement r inner join product p
		on r.productCode = p.productCode
		inner join material m
		on r.materialCode = m.materialCode
		<if test="search != null and search != ''">
			where r.productCode = #{search} 
		</if>
		<if test="search2 != null and search2 != ''">
			and r.materialCode = #{search2}
		</if>
		order by r.productCode desc, r.materialCode desc
		limit #{startRow},#{pageSize}
	</select>

<!-- 	검색어 포함 -->
	<select id="getRequireCount" resultType="java.lang.Integer">
		select count(*) from requirement
		where reqCount != 0
		<if test="search != null and search != ''">
			and productCode = #{search} 
		</if>
		<if test="search2 != null and search2 != ''">
			and materialCode = #{search2}
		</if>
	</select>	
	
	<select id="getRequire" resultType="com.keypoint.dto.RequireDTO">
		select r.productCode,p.productName,r.materialCode,m.materialName, r.reqCount, m.materialUnit, r.reqDate, r.reqUpdate
		from requirement r left join product p
		on r.productCode = p.productCode
		left join material m
		on r.materialCode = m.materialCode
		where r.productCode = #{productCode}
		and m.materialCode = #{materialCode}
	</select>

	<delete id="deleteRequire">
		delete from requirement
		where productCode = #{productCode}
		and materialCode = #{materialCode}
	</delete>
	
	<update id="updateRequire">
		UPDATE requirement
		SET reqCount=#{reqCount}, reqUpdate=DATE(NOW())
		WHERE productCode = #{productCode}
		and materialCode = #{materialCode}
	</update>	

	<delete id="requireDeleteChecked">
		DELETE FROM requirement
		WHERE productCode = SUBSTRING(#{requireCode}, 1, 5)
		AND materialCode = SUBSTRING(#{requireCode}, 7)
	</delete>

</mapper>




