<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mappers.workOrderMapper">

	<insert id="insertWorkOrder">
		insert into workOrder(
				woCode,
				roCode,
				empId,
				lineCode,
				mfgCode,
				productCode,
				materialCode,
				woCount,
				woStatus,
				woDate,
				productName,
				cusCode,
				empName,
				cusName,
				shipSdate
			)
		values(
		 	CONCAT('WO', DATE_FORMAT(NOW(),'%y%m%d%H%i%s')),
			#{roCode},
			#{empId},
			#{lineCode},
			<if test = "mfgCode == null">NULL</if>
			<if test = "mfgCode != null">#{mfgCode}</if>,
			#{productCode},
			<if test = "materialCode == null">NULL</if>
			<if test = "materialCode != null">#{materialCode}</if>,
			#{woCount},
			#{woStatus},
			#{woDate},
			#{productName},
			#{cusCode},
			#{empName},
			#{cusName},
			#{shipSdate}
	</insert>

	<select id="getWorkOrderList"
		resultType="com.keypoint.dto.WorkOrderDTO">
		select a.woCode, a.cusCode, b.cusName, a.productCode,
		c.productName,
		a.woCount, d.roCode, a.woDate, a.woStatus, a.lineCode,
		a.empId, e.empName, d.shipSdate, d.roCount
		from workOrder a
		left join customer b on a.cusCode =
		b.cusCode
		left join product c on a.productCode = c.productCode
		left join
		receivedOrder d on a.roCode = d.roCode
		left join employees e on a.empId
		= e.empId
		where a.woStatus != '삭제'
		order by a.woCode desc
	</select>
	
	<select id="getWorkOrderCount" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM workOrder
		WHERE woStatus != '삭제'
	</select>
	

	<select id="getWorkOrderDetails"
		resultType="com.keypoint.dto.WorkOrderDTO">
		select a.woCode, a.cusCode, b.cusName, a.productCode,
		c.productName,
		a.woCount, d.roCode, a.woDate, a.woStatus, a.lineCode,
		a.empId, e.empName, d.shipSdate
		from workOrder a
		left join customer b on a.cusCode =
		b.cusCode
		left join product c on a.productCode = c.productCode
		left join
		receivedOrder d on a.roCode = d.roCode
		left join employees e on a.empId
		= e.empId
		where woCode = #{woCode}
	</select>


	<update id="updateWorkOrder">
		UPDATE workOrder
		SET cusCode = #{cusCode},
		productCode = #{productCode},
		roCode = #{roCode},
		woCount = #{woCount},
		lineCode = #{lineCode},
		woDate
		= #{woDate},
		<!-- shipSdate = #{shipSdate}, -->
		woStatus = #{woStatus},
		empId = #{empId},
		empName = #{empName}
		WHERE
		woCode = #{woCode}
	</update>

	<update id="deleteWorkOrder">
		UPDATE workOrder
		SET woStatus = '삭제'
		WHERE woCode = #{woCode}
	</update>



	<select id="workProdList"
		resultType="com.keypoint.dto.WorkOrderDTO">
		select productCode, productName
		from product
		where
		productCode like CONCAT('%', #{productCode}, '%') and
		productName like
		CONCAT('%', #{productName}, '%')
		order by productCode desc
		limit
		#{startRow}, #{pageSize}
	</select>

	<select id="countProdList" resultType="java.lang.Integer">
		select count(*)
		from product
		<if test="productCode!=null and productName!=null">
			where
			productCode like CONCAT('%', #{productCode}, '%') and
			productName like CONCAT('%', #{productName}, '%')
		</if>
	</select>

	<select id="workCusList"
		resultType="com.keypoint.dto.WorkOrderDTO">
		select cusCode, cusName
		from customer
		where
		cusCode like
		CONCAT('%', #{cusCode}, '%') and
		cusName like CONCAT('%', #{cusName},
		'%')
		order by cusCode desc
		limit #{startRow}, #{pageSize}
	</select>

	<select id="countCusList" resultType="java.lang.Integer">
		select count(*)
		from customer
		<if test="cusCode!=null and cusName!=null">
			where
			cusCode like CONCAT('%', #{cusCode}, '%') and
			cusName
			like CONCAT('%', #{cusName}, '%')
		</if>
	</select>


	<select id="workRoCodeList"
		resultType="com.keypoint.dto.WorkRoDTO">
		select 
			roCode, 
			cusCode, 
			productCode, 
			roCount, 
			shipSdate
		from receivedOrder
		where 
		roCode like
		CONCAT('%', #{roCode}, '%') and
		productCode like CONCAT('%', #{productCode},
		'%')
		order by roCode desc
		limit #{startRow}, #{pageSize}
	</select>

	<select id="countWorkRoCodeList" resultType="java.lang.Integer">
		select count(*)
		from receivedOrder
		<if test="roCode!=null and productCode!=null">
			where
			roCode like CONCAT('%', #{roCode}, '%') and
			productCode like CONCAT('%', #{productCode}, '%')
		</if>
	</select>
	
	



	<select id="workLineList"
		resultType="com.keypoint.dto.WorkOrderDTO">
		select lineCode
		from line
		where
		lineCode like CONCAT('%',
		#{lineCode}, '%')
		limit #{startRow}, #{pageSize}
	</select>

	<select id="countLineList" resultType="java.lang.Integer">
		select count(*)
		from line
		<if test="lineCode!=null">
			where
			lineCode like CONCAT('%', #{lineCode}, '%')

		</if>
	</select>

	<select id="workEmpList"
		resultType="com.keypoint.dto.WorkOrderDTO">
		select empId, empName
		from employees
		where
		empId like
		CONCAT('%', #{empId}, '%') and
		empName like CONCAT('%', #{empName},
		'%')
		order by empId desc
		limit #{startRow}, #{pageSize}
	</select>

	<select id="countEmpList" resultType="java.lang.Integer">
		select count(*)
		from employees
		<if test="empId!=null and empName!=null">
			where
			empId like CONCAT('%', #{empId}, '%')
		</if>
	</select>

	
	
	<select id="workList"
		resultType="com.keypoint.dto.WorkOrderDTO">
		select woCode, roCode, lineCode, productCode, productName, woCount, cusCode, cusName
		from workOrder
		where
		woCode like
		CONCAT('%', #{woCode}, '%') and
		roCode like CONCAT('%', #{roCode},
		'%')
		order by woCode desc
		limit #{startRow}, #{pageSize}
	</select>

	<select id="countWorkList" resultType="java.lang.Integer">
		select count(*)
		from workOrder
		<if test="woCode!=null and roCode!=null">
			where
			woCode like CONCAT('%', #{woCode}, '%') and
			roCode like CONCAT('%', #{roCode}, '%')
		</if>
	</select>

	
	
	
	

<!-- 	<select id="getWorkList" -->
<!-- 		resultType="com.keypoint.dto.WorkOrderDTO"> -->
<!-- 		select a.woCode, a.cusCode, b.cusName, a.productCode, -->
<!-- 		c.productName, -->
<!-- 		a.woCount, d.roCode, a.woDate, a.woStatus, a.lineCode, -->
<!-- 		a.empId, -->
<!-- 		e.empName -->
<!-- 		from workOrder a -->
<!-- 		left join customer b on a.cusCode = -->
<!-- 		b.cusCode -->
<!-- 		left join product c on a.productCode = c.productCode -->
<!-- 		left join -->
<!-- 		receivedOrder d on a.roCode = d.roCode -->
<!-- 		left join employees e on a.empId -->
<!-- 		= e.empId -->
<!-- 		where a.woStatus != '삭제' -->
<!-- 		<if test="search != null and search != ''"> -->
<!-- 			and a.woCode = #{search} -->
<!-- 		</if> -->
<!-- 		<if test="search2 != null and search2 != ''"> -->
<!-- 			and date_format(a.woDate, '%Y-%m-%d') <![CDATA[>=]]> -->
<!-- 			date_format(#{search2}, '%Y-%m-%d') -->
<!-- 		</if> -->
<!-- 		<if test="search3 != null and search3 != ''"> -->
<!-- 			and date_format(a.woDate, '%Y-%m-%d') <![CDATA[<=]]> -->
<!-- 			date_format(#{search3}, '%Y-%m-%d') -->
<!-- 		</if> -->
<!-- 		<if test="search4 != null and search4 != ''"> -->
<!-- 			and a.productCode = #{search4} -->
<!-- 		</if> -->
<!-- 		<if test="search5 == null"> -->
<!-- 			and a.woStatus not in ('대기') -->
<!-- 		</if> -->
<!-- 		<if test="search6 == null"> -->
<!-- 			and a.woStatus not in ('진행') -->
<!-- 		</if> -->
<!-- 		<if test="search7 == null"> -->
<!-- 			and a.woStatus not in ('완료') -->
<!-- 		</if> -->
<!-- 		order by woCode desc -->
<!-- 		limit #{startRow} , #{pageSize} -->
<!-- 	</select> -->

<!-- 	<select id="getWorkOrderCount" resultType="java.lang.Integer"> -->
<!-- 		select count(*) -->
<!-- 		from (a.woCode, a.cusCode, b.cusName, a.productCode, -->
<!-- 		c.productName, -->
<!-- 		a.woCount, d.roCode, a.woDate, a.woStatus, a.lineCode, -->
<!-- 		a.empId, e.empName -->
<!-- 		from workOrder a -->
<!-- 		left join customer b on a.cusCode = -->
<!-- 		b.cusCode -->
<!-- 		left join product c on a.productCode = c.productCode -->
<!-- 		left join -->
<!-- 		receivedOrder d on a.roCode = d.roCode -->
<!-- 		left join employees e on a.empId -->
<!-- 		= e.empId -->
<!-- 		where a.woStatus != '삭제' -->
<!-- 		<if test="search != null and search != ''"> -->
<!-- 			and a.woCode = #{search} -->
<!-- 		</if> -->
<!-- 		<if test="search2 != null and search2 != ''"> -->
<!-- 			and date_format(a.woDate, '%Y-%m-%d') <![CDATA[>=]]> -->
<!-- 			date_format(#{search2}, '%Y-%m-%d') -->
<!-- 		</if> -->
<!-- 		<if test="search3 != null and search3 != ''"> -->
<!-- 			and date_format(a.woDate, '%Y-%m-%d') <![CDATA[<=]]> -->
<!-- 			date_format(#{search3}, '%Y-%m-%d') -->
<!-- 		</if> -->
<!-- 		<if test="search4 != null and search4 != ''"> -->
<!-- 			and a.productCode = #{search4} -->
<!-- 		</if> -->
<!-- 		<if test="search5 == null"> -->
<!-- 			and a.woStatus not in ('대기') -->
<!-- 		</if> -->
<!-- 		<if test="search6 == null"> -->
<!-- 			and a.woStatus not in ('진행') -->
<!-- 		</if> -->
<!-- 		<if test="search7 == null"> -->
<!-- 			and a.woStatus not in ('완료') -->
<!-- 		</if> -->
<!-- 		) instlist -->
<!-- 	</select> -->

<!-- 	<select id="getWork" resultType="com.keypoint.dto.WorkOrderDTO"> -->
<!-- 		select a.woCode, a.cusCode, -->
<!-- 		b.cusName, a.productCode, -->
<!-- 		c.productName, -->
<!-- 		a.woCount, d.roCode, a.woDate, -->
<!-- 		a.woStatus, a.lineCode, -->
<!-- 		a.empId, -->
<!-- 		e.empName -->
<!-- 		from workOrder a -->
<!-- 		left join -->
<!-- 		customer b on a.cusCode = -->
<!-- 		b.cusCode -->
<!-- 		left join product c on a.productCode -->
<!-- 		= c.productCode -->
<!-- 		left join -->
<!-- 		receivedOrder d on a.roCode = d.roCode -->
<!-- 		left -->
<!-- 		join employees e on a.empId -->
<!-- 		= e.empId -->
<!-- 		where a.woCode = #{woCode} -->
<!-- 	</select> -->

	
	
	
	
	
</mapper>




